
div{
  height:100px;
}
#vertical{
  background: linear-gradient(#ed14e5, #00d8e0);
}
#horizontal{
  background: linear-gradient(to right, #6a0aaa , #7bf424);
}
#radial{
  background: radial-gradient(#f21359, #d0f213);
}

#rainbow{
  background: linear-gradient(to right,red, orange, yellow, green, blue, purple, indigo);
}

.white{
  color: white;
}
